.UpperNav{
    background: linear-gradient(to right, #201818, #451a1a);
    width: 100vw;
    height: 12vh;
}
.profile1{
    display: flex;
    background: black;
    width: 11rem;
    align-items: center;
    color: white;
    height: 2.6rem;
    border-radius: 5rem;
    margin-left: 65rem;
    margin-top: 1rem;
}
.profile1 h3{
    padding: 0 1.2rem;
    margin-top: 15px;
}
.Ava{
    margin-left: -1px;
}
