.Audio{
    display: flex;
    background-color: rgb(232, 237, 241);
overflow-x: hidden;
}

.audio_details{
    /* margin-top: 5rem; */
    justify-content: center;
    align-items: center;
    display: flex;
    
}
h2 {
    text-align:center;
    margin-top: 10;
}

.aud_left input[type="text"],
textarea,
select {
  width: 200%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  
}
.aud_left textarea{
    resize: none;
}
.aud_left{
    flex-direction: column;
    margin-left: 7rem;

}
.Aud_right{
    margin-left: 30rem;
}
.Audio-choose h2{
    font-size: 40px;
    margin-top: -10rem;
}
.Audio-choose input{
    font-size: 20px;
    position: relative;
    left: 3.5rem;
}

.Uploadbtn{
    font-size: 25px;
    width: 12rem;
    height: 4rem;
    border-radius: 5rem;
    position: relative;
    top: 10rem;
    left: 7rem;
    background: linear-gradient(to bottom right, #201818, #451a1a);
    color: white;
    cursor: pointer;
}
.Uploadbtn:hover{
    background: linear-gradient(to bottom right, #451a1a, #201818);
}
.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #451a1a;
    border-radius: 50%;
    height: 76px;
    width: 76px;
    margin-top: 6rem;
    margin-left: 7rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }