.SignUp{
    background-image: url("../../assets/background.avif");
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}
.SignUpForm{
border: 1px solid white;
background: #fff;
width: 22rem;
height: 27.5rem;
transform: translate(-50%, -50%);
position: absolute;
top: 50%;
left: 75%;
}
.SignUpForm input{
    background: transparent;
    border: 1px solid #999;
    outline: 0;
    padding: 15px 60px;
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 34px;
    text-align: center;
}
.SignUpBtn{
    background: rgb(216, 134, 148);
    color: white;
    padding: 9px 125px;
    margin-top: 2rem;
    margin-left: 2rem;
    border: 1px solid pink;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}
.SignUpBtn:hover{
    background-color: rgb(222, 84, 107); ;
}
.acct{
    text-align: center;
}
.logo{
    width: 6rem;
}
.message1{
    text-align: center;
    color: red;
}
.logoDiv{
    text-align: center;
    padding-top: 0.8rem;
}
.logoform{
    width: 4rem;
}