.SignUp{
    background-image: url("../../assets/background.avif");
    /* background-size: cover; */
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}
.SignUpForm{
border: 1px solid white;
background: #fff;
width: 22rem;
height: 27rem;
transform: translate(-50%, -50%);
position: absolute;
top: 50%;
left: 75%;
}
.Googlebtn {
    height: 2.5rem;
    border-radius: 6rem;
    display: flex;
    background: transparent;
    border: 1px solid #999;
    font-weight: 700;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 17rem;
    margin: 30px 39px;
    font-size: 15px;
}
.Googlebtn img{
    width: 3rem;
}
.SignUpForm input{
    background: transparent;
    border: 1px solid #999;
    outline: 0;
    padding: 15px 60px;
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 34px;
    text-align: center;
}
.SignUpBtn{
    background: rgb(216, 134, 148);
    color: white;
    padding: 9px 125px;
    margin-top: 2rem;
    margin-left: 2rem;
    border: 1px solid pink;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}
.acct{
    text-align: center;
}
.logo{
    width: 6rem;
}