.Player{
    bottom: 0;
    position: fixed;
    
width: 100%;
    display: flex;
    background: linear-gradient(to right, #94e0f4, #2392ed);
    margin-left: 14.5rem;
}
.album_cover {
    width: 4.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}
.Player_name{
    display: flex;
}
.track-title{
    display: block;
    font-weight: bolder;
    margin-bottom: 0.4rem;
    font-size: larger;
}
.track-info{
    margin-left: 2rem;
    margin-top: 1.5rem;
}
.track-info span{
    color: rgb(0, 0, 0);
    
}
.resume{
    margin-top: 1.5rem;
    margin-left: 28rem;
    display: flex;
}
/* .Progress{
    margin-top: 4.5rem;
    margin-left: -28rem;
    width: 50rem;
} */
.navigation{
    width: 100%;
}
.navigation_wrapper
{
    min-width: 100%; 
    height: 5px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 4rem;
}
    .seek_bar{
        width: 100%;
    height: 10%;
    background-color: white;
    border-radius: 30px;
    margin-left: -28rem;
    }
