
.Video{
    display: flex;
    background-color: rgb(232, 237, 241);
    overflow-x: hidden;
}

.video_details{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
h2 {
    text-align:center;
    margin-top: 10;
}

.vid_left input[type="text"],
textarea,
select {
  width: 200%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  
}
.vid_left{
    flex-direction: column;
    margin-left: 7rem;

}
.vid_right{
    margin-left: 30rem;
}
.Video-choose h2{
    font-size: 40px;
    margin-top: -10rem;
}
.Video-choose input{
    font-size: 20px;
    position: relative;
    left: 3.5rem;
}
.Uploadbtn{
    font-size: 25px;
    width: 12rem;
    height: 4rem;
    border-radius: 5rem;
    position: relative;
    top: 10rem;
    left: 7rem;
    background-color: #09d952;
    border: 1px solid #d88694;
}
