.Search{
    display: flex;
}
.nav{
    background: linear-gradient(to right, #201818, #451a1a);
    width: 100vw;
    height: 12vh;
}
.SearchSec{
    display: flex;
    background: rgb(255, 255, 255);
    width: 24rem;
    border-radius: 4rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 16rem;
}
.searchIcon{
    margin-top: 0.8rem;
    margin-left: 2rem;
    margin-right: 1rem;
}
.SearchSec input{

    border: none;
    outline: none;
    border-radius: 32px;
    font-size: 15px;
}
.profile{
    display: flex;
    background: black;
    width: 11rem;
    align-items: center;
    color: white;
    height: 2.6rem;
    border-radius: 5rem;
margin-left: auto;
margin-right: 3rem;
    margin-top: -3rem;
}
.profile h3{
    padding: 0 1.2rem;
    margin-top: 15px;
}
.Ava{
    margin-left: -1px;
}
.SearchComp{
    display: flex;
}
.searchbtn{
    height: 48px;
    width: 80px;
    margin-top: 1rem;
    margin-left: -5rem;
    border-radius: 5rem;
    cursor: pointer;
    border: 1px solid white;
}