.Search{
    display: flex;
}
.nav{
    background: linear-gradient(to right, #201818, #451a1a);
    width: 100vw;
    height: 12vh;
}
.SearchSec{
    display: flex;
    background: rgb(255, 255, 255);
    width: 24rem;
    border-radius: 4rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 16rem;
}
.searchIcon{
    margin-top: 0.8rem;
    margin-left: 2rem;
    margin-right: 1rem;
}
.SearchSec input{

    border: none;
    outline: none;
    border-radius: 32px;
    font-size: 15px;
}
.profile{
    display: flex;
    background: black;
    width: 11rem;
    align-items: center;
    color: white;
    height: 2.6rem;
    border-radius: 5rem;
    margin-left: auto;
    margin-right: 3rem;
    margin-top: -3rem;
}
.profile h3{
    padding: 0 1.2rem;
    margin-top: 15px;
}
.Ava{
    margin-left: -1px;
}
.SearchComp{
    display: flex;
}
.searchbtn{
    height: 48px;
    width: 80px;
    margin-top: 1rem;
    margin-left: -5rem;
    border-radius: 5rem;
    cursor: pointer;
    border: 1px solid white;
}
.search_results{
    margin-left: 15rem;
    margin-top: 2rem;
}
.res_podcasts{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}
.result_card{
    padding: 1rem 2rem;
    margin-top: 3rem;
    margin-left: 0.5rem;
    width: 17%;
    margin-right: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e6e6e6;
    overflow: hidden;
}
.result_card:hover{
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}
.result_card img{
    width: 150px;
    margin-left: 2.5rem;
}
.restitle{
    font-size: 25px;
    margin-top: 0px;
    font-weight: 640;
    margin-bottom: 10px;
    text-align: center;
}
.resspeaker, .rescat{
    font-size: 17px;
}
.rescat{
    text-align: right;
    margin-top: -2.5rem;
}
.resspeaker{
    font-weight: 500;
    padding-top: 10px;
}
.resbtn{
    width: 130px;
    height: 45px;
    margin-top: 20px;
    margin-left: 42px;
    background-color: #c95353;
    border-radius: 2rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.resbtn:hover{
    background-color: #e34343;
}
.result_card a{
    text-decoration: none;
}